@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;

    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;

    --title-1: 30px;
}